.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
reports/figure
reports/*png
reports/*html
reports/*_cache
reports/site_libs
code/bcqrf_project_setup.Rmd
code/bcqrf_project_setup.nb.html
